* {
    box-sizing: border-box;
}

#body {
    background-color:#e9e8e8;
    font-family:monospace;
}
#container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#resultRound {
    width: 100%;
    height: auto;
    font-size: 400%;
}
#papel {
    width: 75%;
    height: auto;
    cursor: pointer;
    outline: none;
    color: rgb(255, 255, 255);
    background-color:#D0D1D3;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px #999;
  }
  
#papel:active {
    background-color:#D0D1D3;
    box-shadow: 0 3px #666;
    transform: translateY(2px);
  }

#piedra {
    width:75%;
    cursor: pointer;
    outline: none;
    color: rgb(255, 255, 255);
    background-color:#D0D1D3;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px #999;
}
  
#piedra:active {
    background-color:#D0D1D3;
    box-shadow: 0 3px #666;
    transform: translateY(2px);
}

#tijera {
    width:75%;
    height:auto;
    cursor: pointer;
    outline: none;
    color: rgb(255, 255, 255);
    background-color:#D0D1D3;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px #999;
}
  
#tijera:active {
    background-color:#D0D1D3;
    box-shadow: 0 3px #666;
    transform: translateY(2px);
}

#reset {
    border: none;
    font-family: inherit;
    background-color:#D0D1D3;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
  }
  
#reset:hover {background:#bcbdbe}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 2px;
    border: 1px solid red;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

#jugadorPlay {
    width: 100%;
    height: auto;
    font-size: 200%;

}
#compuPlay {
    width: 100%;
    height: auto;
    font-size: 200%;

}